body{/*gritty*/
    display: grid;
    grid-template-areas: 
        "topbar"   
        "content"   
        "footer";
}
#main{
    grid-area: content;
}
section.navbar{
    grid-area: topbar;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
section.heading{
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

section.subheading{
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
section.aboutOur{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #e6bd43;
}
section.aboutOurImg{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
section.aboutOurImg img{
    width: 90%;
    height: auto;
    align-self: center;
}
section.aboutOurText{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 70%;
}
section.aboutOurText a{
    display: flex;
    align-self: center;
    text-decoration: none;
    color: #252525;
    padding: 0.5rem;
    border: #252525;
    border-style: solid;
    border-width: 3px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section.heading p{
    width: 60%;
    align-self: center;
}
section.subheading p{
    width: 60%;
    align-self: center;
}
ul{
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0;
    padding: 0;
}
li a{
    text-decoration: none;
    color: #252525;
    padding: 0.5rem;
}
#current{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    font-weight: bold;
}
.knapp{
    background-color: #e6bd43;
    font-weight: bold;
}
.knapp:hover{
    background-color: #252525;
    color: #e6bd43;
}
li{
    display: flex;
    align-self: center;
}
section.ourServices{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}
section.brandingList{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}
section.branding{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
}

section.branding h3{
    padding: 0.2rem;
    margin: 0;
    margin-top: 1rem;
}
section.branding p{
    padding: 0.2rem;
    margin: 0;
}
@media screen and (min-width: 600px){
    body{
        display: grid;
        grid-template-areas: 
            "topbar     topbar      topbar"
            "content    content     content"
            "footer     footer      footer";
    }
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    section.navbar{
        flex-direction: row;
        justify-content: space-between;
    }
    ul{
        flex-direction: row;
    }
    li{
        justify-content: right;
    }
    section.aboutOur{
        flex-direction: row;
        justify-content: space-between;
    }
    section.aboutOurImg img{
        width: 100%;
        height: auto;
        align-self: center;
    }
    section.brandingList{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
        text-align: center;
    }
}