@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*importerer google font*/
html {
    max-width: 1600px;
    margin: 0 auto;
}
body{/*gritty*/
    display: grid;
    grid-template-areas: 
        "topbar"   
        "content"   
        "footer";
}
main{
    grid-area: content;
    max-width: 100%;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #000;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #000;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #000;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
}
section.navbar{
    grid-area: topbar;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
header{
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/header1.png");/*bildet er gjennomsiktig til å begynne med, ingenting er gjort kode-vis for å få det gjennomsiktig, https://onlinepngtools.com/change-png-opacity ble brukt for å få de gjennomsiktig*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    min-height: 300px;
} 

section.subheading{
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
section.aboutOur{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #e6bd43;
}
section.aboutOurImg{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
section.aboutOurImg img{
    width: 90%;
    height: auto;
    align-self: center;
}
section.aboutOurText{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 70%;
}
section.aboutOurText a{
    display: flex;
    align-self: center;
    text-decoration: none;
    color: #252525;
    padding: 0.5rem;
    border: #252525;
    border-style: solid;
    border-width: 3px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header p{
    width: 60%;
    align-self: center;
}
section.subheading p{
    width: 60%;
    align-self: center;
}
ul{
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0;
    padding: 0;
}
nav li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #252525;
    padding: 0.5rem;
    font-weight: bold;
    font-size: large;
}
#current{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    font-weight: bold;
}
.knapp{
    font-family: 'Roboto', sans-serif;
    background-color: #e6bd43;
    font-weight: bold;
    text-decoration: none;
    color: #252525;
    padding: 0.5rem;
    display: flex;
    align-self: center;
}
.knapp:hover{
    background-color: #252525;
    color: #e6bd43;
}
li{
    display: flex;
    align-self: center;
}
section.ourServices{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}
section.brandingList{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    text-align: center;
}
section.branding{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 200px;/*vet ikke hvorfor wrapen her ikke funker ordentlig*/
}

section.branding h3{
    width: 100%;
    padding: 0.2rem;
    margin: 0;
    margin-top: 1rem;
}
section.branding p{
    width: 100%;
    height: auto;
    padding: 0.2rem;
    margin: 0;
}
section.newsletter{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background-color: #ECECEC;
}
input[type=email], input[type=submit] {
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: content-box;
    height: 100%;
    font-weight: bold;
}
input[type=submit] {
    font-family: 'Roboto', sans-serif;
    background-color: #e6bd43;
    border: none;
}
input[type=submit]:hover{
    background-color: #252525;
    color: #e6bd43;
}

footer{
    grid-area: footer;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #252525;
    color: #fff;
}
footer img{
    width: 50%;
    max-width: 200px;
    height: auto;
    align-self: center;
}
footer p{
    width: 60%;
    align-self: center;
    text-align: center;
    font-size: large;
    color: #fff;
}
footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding: 0;
}
footer li{
    display: flex;
    align-self: center;
    margin: 0.5rem;
}
footer li a{
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
}
/*********************************/
/*products.html spesifikk styling*/
/*********************************/
section.yellowLine h1{
    margin-bottom: 0rem;
}
section.exploreButtons{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1rem;
    flex-wrap: wrap;
    flex-shrink: 1;
    max-width: 100%;
}
section.exploreButtons a{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-weight: bold;
    text-decoration: none;
    color: #252525;
    padding: 1rem;
    margin: 0.5rem;
    border: #252525;
    border-style: solid;
    border-width: 3px;
}
section.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem;
    flex-wrap: wrap;
}
section.flex-container article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 692px;
    text-align: left;
}
section.flex-container article { /*Copilot hjalp meg her*/
    transition: transform 1s ease;
}

section.flex-container article:hover {
    transform: scale(1.1);
}

section.flex-container article img{
    width: 100%;
    height: auto;
    align-self: center;
}
section.flex-container article p{
    width: 60%;
    font-size: large;
    color: #000;
    font-weight: bold;
}
/*********************************/
/*about.html spesifikk styling*/
/*********************************/
header.aboutHeader{
    background-image: url("../img/header.png");
}
section.container{
    display: flex;
    width: 80%;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: #fff8;/*slik at det blir gjennomsiktig, fant det ut via StackOverflow*/
}
section.container p{
    width: 70%;
}
p.bigP{
    font-size: x-large;
    color: #000;
    font-weight: bold;
    align-self: center;
}
section.ourClients{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem;
    text-align: center;
    background: #e6bd43;
}
section.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}
section.flex-container2 article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 150px;
    text-align: left;
}
section.flex-container2 article img{
    width: 100%;
    height: auto;
    align-self: center;
}
/*********************************/
/*media queries*/
/*********************************/
@media screen and (min-width: 600px){
    body{
        display: grid;
        grid-template-areas: 
            "topbar     topbar      topbar"
            "content    content     content"
            "footer     footer      footer";
    }
    section.navbar{
        flex-direction: row;
        justify-content: space-between;
    }
    ul{
        flex-direction: row;
    }
    li{
        justify-content: right;
    }
    section.aboutOur{
        flex-direction: row;
        justify-content: space-between;
    }
    section.aboutOurImg img{
        width: 100%;
        height: auto;
        align-self: left;
    }
    section.brandingList{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
        text-align: center;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer img{
        width: 50%;
        max-width: 100px;
    }
    section.container{
        display: flex;
        width: 50%;
        align-self: flex-end;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        background-color: #fff8;/*slik at det blir gjennomsiktig, fant det ut via StackOverflow*/
    }
    section.container p{
        width: 80%;
        align-self: flex-start;
        margin: 1rem
    }
}
@media screen and (min-width: 880px){/*slik at når det bare er ett artikkel-kort per rad, vil de være sentrert*/
    section.flex-container{
        justify-content: left;
    }
}
@media screen and (min-width: 1000px){
    h1{ /*slik at h1 på forsiden blir større på store skjermer*/
        font-size: 3rem;
        line-height: 3.5rem;
    }

}